.DataWidgetPadding {
    padding-top: 10px;
    justify-content: space-evenly;
}
.WidgetData {
    border: 1px solid #e5e5ea;
    padding: 10px;
    background: #ffffff;
}
.WidgetHeader {
    margin-top: 0px !important;
}